.center-heading {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2 rem;
    justify-content: space-around;
}

.skills-container article {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adjust the gap between the icon and the skill details as needed */
}

.skills-container .skill-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-container .skill-name {
    font-size: 1.25rem; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
}

/* Additional styles for h3 to ensure it doesn't appear as <p> */
.skills-container h3 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.skillSet_Card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}